<div class="col-sm-12">
  <h2 class="h4">{{ site.title }}</h2>
</div>
<div class="col-sm-4">
  <ul>
    <li><a href="http://chalmerssångkör.se" target="_blank">Chalmers Sångkörs hemsida</a></li>
    <li><a href="https://github.com/chalmers-choir/chalmers-choir.github.io" target="_blank">{{ site.title }} på Github</a></li>
    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
  </ul>
</div>
<div class="col-sm-8">
  <p>{{ site.description }}</p>
  <p>Dokumentationen skapades av <a href="http://wallsin.com" target="_blank">Joachim Wallsin</a></p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
