/**
 * Site header
 */
#header {
  margin-bottom: 20px;
}

/**
 * Site footer
 */
#footer {
  background-color: #E0E0E0;
}

/**
 * Navigation
 */
 .nav-header {
   color: #999;
   font-size: 13px;
   font-weight: bold;
   padding: 3px 5px;
   text-transform: uppercase;
 }
 
 .nav li + .nav-header {
   margin-top: 9px;
 }
